VITE_FIREBASE_API_KEY=your-web-api-key
VITE_FIREBASE_AUTH_DOMAIN=scandine-a49fb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=scandine-a49fb
VITE_FIREBASE_MESSAGING_SENDER_ID=113842803645
VITE_FIREBASE_APP_ID=your-web-app-id
